version: 0.2

env:
  variables:
    PROJECT_NAME: '<%= @name %>'

phases:
  install:
    commands:
      - gem install cfhighlander cfn-nag
  build:
    commands:
<%- if @type == 'component' -%>
      - cfhighlander cftest
      - cfn_nag_scan -i out/tests
<%- elsif @type == 'project' -%>
      - cfcompile --validate
      - cfn_nag_scan -i out/yaml
<%- end -%>
