language: ruby
rvm:
  - 2.5
install:
  - gem install cfhighlander cfn-nag
before_script:
  - cfndsl -u
<%- if @type == 'component' -%>
script:
  - if [ "${TRAVIS_PULL_REQUEST}" != "false" ]; then cfhighlander cftest --no-validate; else cfhighlander cftest; fi
  - cfn_nag_scan -i out/tests
<%- elsif @type == 'project' -%>
script:
  - cfcompile
<%- end -%>
